@* @model List<ProductCardVm>

<h1>Курсы программирования</h1>

<div class="products">
    @foreach(var product in Model)
    {
        <div class="card">
            <a asp-controller="Product"
            asp-action="Details"
            asp-route-id="@product.Id">
        
                <img src = "@product.ImageUrl" width="200" />
                <h3>@product.Title</h3>
        </a>
        </div>
    }
</div> *@


@model List<ProductCardVm>

<h1 class="page-title">Онлайн курсы</h1>

<div class="products-grid">
    @foreach(var product in Model)
    {
    <div class="product-card">
        <a asp-controller="Product"
           asp-action="Details"
           asp-route-id="@product.Id">

            <img src="@product.ImageUrl" alt="@product.Title" />

            <div class="product-info">
                <h3>@product.Title</h3>
            </div>

        </a>
    </div>
    }
</div>